:root {
  --text-sm: 0.8rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;

  --primary-hs: 240, 100%;
  --secondary-hs: 60, 100%;

  --color-primary-500: hsl(var(--primary-hs), 50%);
  --color-secondary-500: hsl(var(--secondary-hs), 50%);

  --font-luckiest-guy: "Luckiest Guy", cursive;
  --font-sour-gummy: "Sour Gummy", sans-serif;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: inherit;
}
body {
  background-color: var(--color-primary-500);
  color: hsl(var(--secondary-hs), 50%);
  font-family: var(--font-luckiest-guy);
}

/* Block: Page */
.page__header {
  padding: 0.5rem;
}
.page__title {
  font-size: var(--text-2xl);
  padding: 1rem;
  color: blue;
  text-shadow: 2px 2px yellow;
}
.page__footer {
  text-align: center;
}
.page__title {
  color: blue;
  text-shadow: 2px 2px yellow;
  text-align: center;
}
.page__hero {
  background-color: black;
  min-height: 50vh;
}

/* Block: header */
.header {
  padding: 1rem;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav__input {
  padding: 0.15rem 0.5rem;
  border-radius: 0.25rem;
}

/* Block: hero */
.hero__pokemon {
  list-style-type: none;
}

/* Block: pokemoon */
.pokemon__main-container {
  background-color: blue;
  color: yellow;
  margin-block: 1rem;
}
.pokemon__title {
  text-align: center;
  padding-top: 2rem;
  font-size: var(--text-2xl);
}
.pokemon__card-title {
  text-align: center;
  color: var(--color-primary-500);
  font-size: var(--text-lg);
  place-self: center;
}
.pokemon__card {
  display: flex;
  flex-direction: column;
  place-content: flex-start;
  background-color: var(--color-secondary-500);
  color: var(--color-primary-500);
  margin: 2rem;
  text-align: center;
}
.pokemon img {
  background-color: black;
  margin: 2rem;
  width: 60%;
  place-self: center;
}
.pokemon__height,
.pokemon__weight,
.pokemon__move {
  font-size: var(--text-md);
}

.pokemon__cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pokemon__cries-container {
  display: flex;
  justify-content: center;
}

/* Block: btn */

.btn {
  background-color: var(--color-secondary-500);
  color: var(--color-primary-500);
  padding: 0.15rem 0.5rem;
  border-radius: 0.25rem;
}
